<div class="bg-light p-30 mb-5">
    <div class="border-bottom pt-3 pb-2">
        <div class="d-flex justify-content-between mb-3">
            <h6>Sipariş Ücreti</h6>
            <h6>$150</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Kargo Fiyatı</h6>
            <h6 class="font-weight-medium">$10</h6>
        </div>
    </div>
    <div class="pt-2">
        <div class="d-flex justify-content-between mt-2">
            <h5>Toplam Ücret</h5>
            <h5>$160</h5>
        </div>
    </div>
</div>